spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${RDS_ENDPOINT}:5432/twotwo
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    database: postgresql
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show_sql: false
        format_sql: true
        use_sql_comments: true

gemini:
  api:
    key: ${GEMINI_API_KEY}

  cloud:
    aws:
      credentials:
        access-key: ${AWS_ACCESS_KEY_ID}
        secret-key: ${AWS_SECRET_ACCESS_KEY}
      region:
        static: ap-northeast-2
      s3:
        bucket: twotwofoodorder

jwt-secret-key: ${jwt_secret_key}
jwt-master-email: ${jwt_master_email}
jwt-manager-email: ${jwt_manager_email}
expire-token-time: ${expire_token_time}
